<div class="root">
  channel:
  <input [(ngModel)]="channel" />
  uid
  <input [(ngModel)]="uid" />
  <button (click)="startBasicCall()">join Channel</button>
  <button (click)="leaveChannel()">leave Channel</button>
  <button (click)="publishVideo()">publish video</button>
  <button (click)="unpublishVideo()">unpublish video</button>
  <button (click)="publishAudio()">publish audio</button>
  <button (click)="unpublishAudio()">unpublish audio</button>
  <br>
  <br>

  <span>拿token工具</span>
  uid:
  <input [(ngModel)]="getTokenUid" />
  channel:
  <input [(ngModel)]="getTokenChannel" />
  <button (click)="onGetAllTokenClick()">get all token by userId</button>
  <span>rtcSubscribeToken: {{ allToken?.rtcSubscribeToken }}</span>
  <span>rtcPublishToken: {{ allToken?.rtcPublishToken }}</span>
  <span>rtmToken: {{ allToken?.rtmToken }}</span>
</div>
